/*= reset */
body {
	margin: 0;
	background: #fcfcfc;
	color: #ccc;
	font: 16px "lucida grande",arial, sans-serif;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}

/*= clearfix */
.clearfix:after {
	display: block;
	content: "";
	clear: both;
}

/*= page styles */
.container {
	width: 1024px;
	margin: 0 auto;
}
.col {
	float: left;
	position: relative;
}
.main {
	width: 62%;
	right: -38%;
}
.container:before {
	display: block;
	content: "";
	width: 38%;
	height: 100%;
	position: fixed;
	background-color: #333;
	left: 0;
}

/*= side bar elements */
.sidebar {
	width: 38%;
	left: -62%;
}
.logo{
	text-align: center;
	margin-top: 38px;
	margin-right: 60px;
}
.nav {
	margin: 60px 0;
}
.footer{
	position: fixed;
	bottom: 0;
}
.nav li {
	text-transform: uppercase;
}
.nav li a,
.nav li a:visited,
.nav li a:active {
	font-size: 18px;
	text-decoration: none;
	display: block;
	margin-bottom: 20px;
	color: #69c;
}
.nav li a:hover {
	color: #fb0;
}

.social-links {
	margin-bottom: 50px;
}

.social-links li {
	float: left;
	margin: 0 10px;
}

.headline {
	text-transform: uppercase;
	font-family: "Marko One", serif;
	font-size: 30px;
}
.tagline {
	font-family: georgia, serif;
	font-weight: normal;
}

/*= main content*/

.image-gallery li {
	float: left;
	margin: 6px;
}

.image-gallery img {
	border: 3px double #333;
}

.right-rotate{
	-webkit-transform: rotate(1.2deg);
	-moz-transform: rotate(1.2deg);
    -ms-transform: rotate(1.2deg);
    transform: rotate(1.2deg);
}

.left-rotate{
	-webkit-transform: rotate(-1.2deg);
	-moz-transform: rotate(-1.2deg);
    -ms-transform: rotate(-1.2deg);
    transform: rotate(-1.2deg);
}

.right-rotate:hover{
	-webkit-transform: rotate(-1.2deg);
	-moz-transform: rotate(-1.2deg);
    -ms-transform: rotate(-1.2deg);
    transform: rotate(-1.2deg);
}

.left-rotate:hover{
	-webkit-transform: rotate(1.2deg);
	-moz-transform: rotate(1.2deg);
    -ms-transform: rotate(1.2deg);
    transform: rotate(1.2deg);
}