/*= reset */
body {
	margin: 0;
	background: #fcfcfc;
	color: #fcfcfc;
	font: 16px "lucida grande",arial, sans-serif;
	text: 000;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}

/*= clearfix */
.clearfix:after {
	display: block;
	content: "";
	clear: both;
}

/*= page styles */
.container {
	width: 1024px;
	margin: 0 auto;
}
.col {
	float: left;
	position: relative;
}
.main {
	width: 62%;
	right: -38%;
	margin-top: 10px;
}

.container:before {
	display: block;
	content: "";
	width: 38%;
	height: 100%;
	position: fixed;
	background-color: #333;
	left: 0;
}

/*= side bar elements */
.sidebar {
	width: 38%;
	left: -62%;
}

.logo{
	text-align: center;
	margin-top: 38px;
	margin-right: 60px;
	position: fixed;
}

.nav {
	margin: 250px 0;
	position: fixed;	
}

.footer{
	position: fixed;
	bottom: 0;
}

.nav li {
	text-transform: uppercase;
}
.nav li a,
.nav li a:visited,
.nav li a:active {
	font-size: 18px;
	text-decoration: none;
	display: block;
	margin-bottom: 20px;
	color: #69c;
}
.nav li a:hover {
	color: #fb0;
}

.social-links {
	margin-bottom: 50px;
}

.social-links li {
	float: left;
	margin: 0 10px;
}

.headline {
	text-transform: uppercase;
	font-family: "Marko One", serif;
	font-size: 30px;
}
.tagline {
	font-family: georgia, serif;
	font-weight: normal;
}

/*= main content*/

.image-gallery li {
	float: left;
	margin: 7px;
	position: relative;
}

.details{
	display: none;
	top: 0;
	left: 0;
	position: absolute;
	height:140px;
	width: 100%;
	background-color: #000;
	padding-top: 50px;
}

.image-odd{
	-webkit-transform: rotate(2.5deg);
	-moz-transform: rotate(2.5deg);
    -ms-transform: rotate(2.5deg);
    transform: rotate(2.5deg);
}

.image-even{
	-webkit-transform: rotate(-2.5deg);
	-moz-transform: rotate(-2.5deg);
    -ms-transform: rotate(-2.5deg);
    transform: rotate(-2.5deg);
}

.image-gallery li:hover>.details{
    display: block;
    opacity: 0.6;    
}

.image-gallery li:hover img{
	-webkit-transform: rotate(-0deg);
	-moz-transform: rotate(-0deg);
    -ms-transform: rotate(-0deg);
    transform: rotate(-0deg);
}